/* STYLE INTRO */
.block-intro {
    background-image: url("../img/recompenses/intro.png");
}
/* FIN STYLE INTRO */

/* STYLE Distinctions */
.block-prota .content .titre-block {

}
.block-prota {
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#efefef;
}
.block-prota .content {
   background-color: white;
   width: 90%;
   margin: auto;
   padding-top: 30px;
   box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.30);
}
.block-prota .titre-block {
    font-family: "Roboto-Bold";
    font-size: 30px;
    position: relative;
    max-width: 380px;
    margin: auto;
}
.block-prota .titre-block::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -20px;
    background-color: #362c2c;
    height: 2px;
    left: 0;
    right: 0;
    transform: scale(0);
    transition: 1s;
}
.block-prota .titre-block.anim::after {
    transform: scale(1);
}
.block-prota .content .text-histoire {
    margin: auto;
    margin-top: 60px;
    padding-bottom: 60px;
    width: 90%;
    text-align:justify;
}
.block-prota .block-recompenses {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.block-prota .block-recompenses .recompenses {
    margin-top:30px;
    width: 31%;
    border: 2px solid #1a1a1a;
    margin-bottom: 30px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.30);
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.5s;
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.block-prota .block-recompenses .recompenses:hover {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
}
.block-prota .block-recompenses .recompenses:nth-child(3n+1){
    margin-left: 0;
}
.block-prota .block-recompenses .titre-recompenses {
    font-size: 20px;
}
.block-prota .block-recompenses .text-recompenses {
    font-size: 15px;
    margin-top: 10px;
}
.block-prota .block-recompenses img {
    max-width: 100%;
    margin-bottom: 20px;
}

.block-fond{
    background-image: url("../img/recompenses/fond.png");
}
/* FIN STYLE distinctions */
