/* FONT */
@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Roboto-Regular.woff") format("woff"),
    url("fonts/Roboto-Regular.ttf") format("truetype"),
    url("fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Roboto-Bold.woff") format("woff"),
    url("fonts/Roboto-Bold.ttf") format("truetype"),
    url("fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* FIN FONT */

/* STYLE GENERAL */
html {
  max-width: 1920px;
  width: 100%;
}
body {
  width: 100%;
  min-height: 650px;
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular";
  padding-top: 80px;
  color: #362c2c;
}
p,
div,
h1,
h2,
h3,
a {
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
}
h1 {
  font-family: "Roboto-Bold";
}
.btn {
  text-align: center;
  background-color: transparent;
  position: relative;
  width: 150px;
  height: 50px;
}
.btn.black {
  border: 2px solid #1a1a1a;
  transition: 0.5s;
}
.btn.black:hover {
  background-color: #3c4247;
}
.btn.black:hover a {
  color: white;
}
.btn a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 50px;
  font-family: "Roboto-Bold";
  font-size: 15px;
}
a {
  text-decoration: none;
  color: #362c2c;
}

.slick-arrow{
  border: none;
  outline: none;
  font-size: 0;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.slick-prev{
  background-image: url("../img/general/arrow_left.png");
  left: -70px;
}
.slick-next{
  background-image: url("../img/general/arrow_right.png");
  right: -70px;
}
.slick-slide{
  outline: none;
}
/* STYLE GENERAL */

/* STYLE MENU */
.block-menu {
  width: 100%;
  height: 80px;
  background-color: #3c4247;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.block-menu .logo-menu {
  width: 300px;
  height: 65px;
  margin-left: 30px;
}
.block-menu .list-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 40%;
  margin-right: 30px;
}
.block-menu .list-menu .dropdown .dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #525a60;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.3s;
  overflow: hidden;
  height: 0;
}
.block-menu .list-menu .dropdown:hover .dropdown-content {
  height: 230px;
}
.block-menu .list-menu .dropdown .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
}

.block-menu .list-menu li {
  list-style: none;
}
.block-menu .list-menu li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto-Bold";
}
.block-menu .list-menu li a::after {
  content: "";
  display: block;
  transform: scale(0);
  background-color: white;
  height: 2px;
  border-radius: 6px;
  position: relative;
  top: 5px;
  transition: 0.5s;
}
.block-menu .list-menu li a.active::after {
  transform: scale(1);
}
.block-menu .list-menu li a:hover::after {
  transform: scale(1);
}
/* FIN STYLE MENU */

/* STYLE INTRO */
.block-intro {
  height: 420px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.block-intro h1 {
  display: block;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.block-intro h1::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -20px;
  background-color: white;
  height: 2px;
  left: 0;
  right: 0;
  transform: scale(0);
  transition: 1s;
}
.block-intro h1.anim::after {
  transform: scale(1);
}
/* FIN STYLE INTRO */

/* STYLE FOOTER */
.block-low {
  width: 100%;
  background-color: #343536;
  height: 110px;
  display: flex;
  flex-direction: column;
}
.list-low {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: auto;
}
.list-low a {
  transition: 0.5s;
}
.list-low a:hover {
  transform: scale(1.2);
}
.list-low img {
  width: 30px;
  height: 30px;
}
.text-low {
  text-align: center;
  color: white;
  font-size: 14px;
  margin-bottom: 15px;
}
/* FIN STYLE FOOTER */
