/* STYLE INTRO */
.block-intro {
  background-image: url("../img/accueil/intro.png");
}
/* FIN STYLE INTRO */

/* STYLE SYNOPSIS */
.block-synopsis {
  background-color: white;
  text-align: center;
  transition: 2s;
  opacity: 0;
}
.block-synopsis.anim{
  opacity: 1;
}
.block-synopsis h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 30px;
}
.block-synopsis p {
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  width: 750px;
  margin: auto;
}
.block-synopsis .btn-propos {
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* FIN SYNOPSIS */

/* STYLE FRERES */
.block-freres {
  background-color: #efefef;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}
.block-freres .block-bro {
  background-color: white;
  width: 80%;
  height: 260px;
  margin: auto;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.30);
  position: relative;
  transition: 0.8s;
  opacity: 0;
}
.block-freres .block-bro.anim {
  opacity: 1;
}
.block-freres .block-one {
  left: -2000px;
}
.block-freres .block-one.anim {
  left: 0px;
}
.block-freres .block-two {
  margin-top: 30px;
  right: -2000px;
}
.block-freres .block-two.anim {
  right: 0px;
}
.block-freres .block-text {
  width: 50%;
  text-align: center;
  margin: auto;
}
.block-freres .block-text p {
  margin-top: 15px;
  line-height: 28px;
}
.block-freres .block-bro .img-bro {
  width: 500px;
  height: 100%;
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}
.block-freres .block-one .img-bro {
  background-image: url("../img/accueil/accueil_frere.png");
}
.block-freres .block-two .img-bro {
  background-image: url("../img/accueil/accueil_courrir.png");
}

/* FIN FRERES */

/* BLOCK AVIS */
.block-avis {
  color: white;
  text-align: center;
  background-color: #89695E;
  padding: 25px 0px 25px 0px;
}
.block-avis h2 {
  font-size: 30px;
  position: relative;
}
.block-avis h2::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -20px;
  background-color: white;
  height: 2px;
  left: 0;
  right: 0;
  transition: 1s;
  width: 500px;
  margin: auto;
}
.block-avis .container-avis {
  width: 560px;
  height: 230px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background-color: white;
  color: #362c2c;
  box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.30);
}
.block-avis .container-avis .avis {
  width: 100%;
  height: 100%;
}
.block-avis .container-avis .avis .text-avis {
  font-size: 16px;
  line-height: 25px;
}
.block-avis .container-avis .avis .note {
  font-size: 18px;
  margin-top: 15px;
}
.block-avis .container-avis .avis .auteur {
  font-size: 20px;
  font-family: "Roboto-Bold";
  margin-top: 5px;
  text-decoration: underline;
}
/* FIN BLOCK AVIS */
