/* STYLE INTRO */
.block-intro.s1{
    background-image: url("../img/saison/saison1/intro.png");
}
.block-intro.s2{
    background-image: url("../img/saison/saison2/intro.png");
}
.block-intro.s3{
    background-image: url("../img/saison/saison3/intro.png");
}
.block-intro.s4{
    background-image: url("../img/saison/saison4/intro.png");
}
.block-intro.s5{
    background-image: url("../img/saison/saison5/intro.png");
}
/* FIN STYLE INTRO */

/* STYLE SAISON */
.block-prota .content .titre-block {

}
.block-prota {
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#efefef;
}
.block-prota .content {
   background-color: white;
   width: 90%;
   margin: auto;
   padding-top: 30px;
   box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.30);
}
.block-prota .titre-block {
    font-family: "Roboto-Bold";
    font-size: 30px;
    position: relative;
    max-width: 380px;
    margin: auto;
}
.block-prota .titre-block::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -20px;
    background-color: #362c2c;
    height: 2px;
    left: 0;
    right: 0;
    transform: scale(0);
    transition: 1s;
}
.block-prota .titre-block.anim::after {
    transform: scale(1);
}
.block-prota .content .text-histoire {
    margin: auto;
    margin-top: 60px;
    padding-bottom: 60px;
    width: 90%;
    text-align:justify;
}
/* FIN STYLE SAISON */
/* STYLE FOND */
.block-fond{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}
.block-fond.s1{
    background-image: url("../img/saison/saison1/fond.png");
}
.block-fond.s2{
    background-image: url("../img/saison/saison2/fond.png");
}
.block-fond.s3{
    background-image: url("../img/saison/saison3/fond.png");
}
.block-fond.s4{
    background-image: url("../img/saison/saison4/fond.png");
}
.block-fond.s5{
    background-image: url("../img/saison/saison5/fond.png");
}

/* FIN STYLE FOND */

.block-prota .video{
    margin-top: 60px;
    margin-bottom: 30px;
}